body {
  font-family: 'Nunito', sans-serif;
}

h1 {
  color: #CEF6F5;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-shadow: 3px 3px #0000FF;
  padding: 40px 0 20px;
}

h2 {
  color: #A9F5F2;
  font-weight: 700;
  letter-spacing: 1px;
  text-shadow: 2px 2px #0000FF;
  padding-bottom: 10px;
}

h3 {
  color: #A9F5F2;
  font-weight: 600;
  letter-spacing: 1px;
  text-shadow: 2px 2px #0000FF;
  padding: 10px 0 5px;
  font-size: 20px;
}

p {
  color: #A9F5F2;
  font-size: 18px;
  padding: 5px 0 5px 20px;
}

span {
  font-weight: 700;
  color: #0000FF;
}

#page-wrapper {
  height: 100vh;
  width: 100vw;
  background: rgb(47,184,203);
  background: linear-gradient(149deg, rgba(47,184,203,1) 15%, rgba(28,53,213,1) 100%);
}

.train-ticket-section,
.user-info-section {
  padding-top: 20px;
}

h2#user-info::before {
  content: '\f2bd';
  padding-right: 10px;
}

h2#ticket-info::before {
  content: '\f3ff';
  padding-right: 10px;
}

p#descount-rate::before {
  content: '\f0f3';
  font-size: 28px;
  padding-right: 5px;
}

h2#user-info::before,
h2#ticket-info::before,
p#descount-rate::before {
  font-weight: 700;
  font-family: "Font Awesome 5 Free";
  color: #361ACD;
  text-shadow: 1px 1px #A9F5F2;
}

.further-info {
  margin: 20px 0;
}

.further-info p#descount-rate {
  color: #ED918E;
  font-weight: 700;
  text-shadow: 1px 1px #B40404;
  padding-right: 20px;
  padding-left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/******************** Media Query *********************/

/* Responsive - Breakpoint Extra Large 1200px xl */
@media screen and (min-width: 1200px) {
  .train-ticket-section,
  .user-info-section,
  .further-info {
    text-align: center;
    padding-top: 40px;
  }
}
